{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mis Tareas</title>
        <link rel="stylesheet" type="text/css" href="{% static 'inicio/css/styles.css' %}">
    </head>
    <body>
        <h1>Lista de tareas pendientes</h1>

        <form method="POST" style="margin-bottom: 20px;">
            {% csrf_token %} {{ form.as_p }} <button type="submit">Añadir tarea</button>
        </form>

        <hr/>

        <ul>
            {% for tarea in tareas %}
                <li>
                    <strong>{{ tarea.titulo }}</strong> -
                    {% if tarea.completada %} ✅ Completada {% else %} ⌛ Pendiente {% endif %}
                </li>
            {% empty %}
                <li>Sin tareas</li>
            {% endfor %}
        </ul>
    </body>
</html>